#navbar {
    top: 0;
    position: sticky;
}

ul {
    list-style: none;
    display: flex;
    position: absolute;
    left: 250px;
}

ul li {
    padding: 10px;
}

ul li a {
    color: #2b2b2b;
}

ul li a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

li {
    top: 0;
    position: sticky;
}